<div class="container mx-auto p-6">

  <div class="flex justify-between items-center">
    <h1 class="text-2xl mb-5">All Categories</h1>
    <a href="/product" class="border-2 p-1 border-gray-700 text-red-500 font-bold hover:bg-green-600 rounded-lg  hover:text-black">Add Product</a>
  </div>
  
  <div class="grid grid-cols-5 gap-4">
    
    <a href="/category/categorytable" class="bg-blue-500 text-white font-bold py-16 px-4 rounded-xl shadow-lg flex flex-col items-center justify-center hover:bg-blue-600">
      <i class="fas fa-tshirt fa-2x mb-3"></i>
      Boy Fashion
    </a>

    <a href="/charts" class="bg-green-500 text-white font-bold py-16 px-4 rounded-xl shadow-lg flex flex-col items-center justify-center hover:bg-green-600">
      <i class="fas fa-female fa-2x mb-3"></i>
      Women Fashion
    </a>

    <a href="/widgets" class="bg-yellow-500 text-white font-bold py-16 px-4 rounded-xl shadow-lg flex flex-col items-center justify-center hover:bg-yellow-600">
      <i class="fas fa-baby fa-2x mb-3"></i>
      Baby Fashion
    </a>

    <a href="/tables" class="bg-red-500 text-white font-bold py-16 px-4 rounded-xl shadow-lg flex flex-col items-center justify-center hover:bg-red-600">
      <i class="fas fa-star fa-2x mb-3"></i>
      Top Fashion
    </a>

    <a href="/full-width" class="bg-indigo-600 text-white font-bold py-16 px-4 rounded-xl shadow-lg flex flex-col items-center justify-center hover:bg-indigo-700">
      <i class="fas fa-tags fa-2x mb-3"></i>
      New Arrival
    </a>

    <a href="/forms" class="bg-orange-500 text-white font-bold py-16 px-4 rounded-xl shadow-lg flex flex-col items-center justify-center hover:bg-orange-600">
      <i class="fas fa-fire fa-2x mb-3"></i>
      Trending Section
    </a>

    <a href="/buttons" class="bg-blue-700 text-white font-bold py-16 px-4 rounded-xl shadow-lg flex flex-col items-center justify-center hover:bg-blue-800">
      <i class="fas fa-gift fa-2x mb-3"></i>
      Offer Section
    </a>

    <a href="/elements" class="bg-teal-500 text-white font-bold py-16 px-4 rounded-xl shadow-lg flex flex-col items-center justify-center hover:bg-teal-600">
      <i class="fas fa-heading fa-2x mb-3"></i>
      Header
    </a>

    <a href="/calendar" class="bg-green-600 text-white font-bold py-16 px-4 rounded-xl shadow-lg flex flex-col items-center justify-center hover:bg-green-700">
      <i class="fas fa-shoe-prints fa-2x mb-3"></i>
      Footer
    </a>

    <a href="/errors" class="bg-yellow-400 text-white font-bold py-16 px-4 rounded-xl shadow-lg flex flex-col items-center justify-center hover:bg-yellow-500">
      <i class="fas fa-rocket fa-2x mb-3"></i>
      Hero Section
    </a>

  </div>
</div>
